*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(/media/games/banner.jpg);
   background-size: cover;               
  height: 1200px;
}
.navbar{
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-colored{
  background-color: rgb(255, 255, 255);
}
.nav-transparent{
  background-color: rgba(0, 0, 0, 0);
}
.navbar nav{
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}
.navbar nav .logo{
  display: flex;
  float: left;
  align-items: center;
 
}
.navbar nav .logo a{
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    letter-spacing: 0.2em;
    font-size: 40px;
    font-weight: 600;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
      background-position: 0%;
  }

  100% {
      background-position: 400%;
  }
}
.navbar nav .logo img{
  width: 50px;
  height: 50px;
}
.navbar nav ul {
  display: flex;
  height: 50px;
}
.navbar nav ul li{
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
}
.navbar nav ul li a{
  font-weight: bold;
  color: #ff0000;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

/*searchbox field*/

.search-box{
  display: flex;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.175);
  align-items: center;
  border-radius: 50px;
}
.search-box.active{
  border: 1px solid blue;
}
.search{
  width: 0px;
  border-radius: 50px;
  overflow: hidden;
  transition: 1s;
}
.search.active{
  width: 200px;
  transition: 1s;
}
.search-input{
  border: none;
  outline: none;
  display: none;
  padding: 5px;
  color: white;
  background-color: transparent;
}

/*searchbar input placeholder text change*/

.search-input::placeholder{
  color: white;
}
.search-input-color::placeholder {
  color: #000000;
}



.search-input.active{
  display: block;
}
.search-icon i{
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  color: rgb(0, 21, 255);
}
i {
  color: rgba(255, 255, 255, 0.508);
}
.cart-color{
  color: black;
}


/*hover group*/

i:hover{
  color: greenyellow;
}
nav ul li a:hover{
  transition: 0.5s;
  color: rgb(98, 0, 255);
  border-bottom: 1px solid red;
}
.show-content div .buy-btn:hover{
  background-color: rgb(110, 172, 17);
}

.main-banner{
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-banner h1{
  width: fit-content;
  font-size: 90px;
  cursor: default;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 255, 17, 0.448);
  letter-spacing: 0.1em;
}
.main-banner span{
  font-size: 25px;
  text-align: right;
  cursor: default;
  color: #ff0000;
}

/*showcase group*/

.showcase{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  justify-content: space-around;
}
.price-info{
  position: absolute;
  background-color: grey;
  display: flex;
  margin-top: -60px;
  margin-left: 180px;
  align-items: center;
}
.price-info h1{
  font-size: 25px;
  background-color: #2e2e;
}
.price-info .detail{
  background-color: grey;
  text-decoration: line-through;
  padding-top: 6px;
  padding-bottom: 6px;
}
.price-info .discount{
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: grey;
  color: white;
  font-size: 14px;
  
}
.show{
  width: 345px;
  height: 400px;
  overflow: hidden;
}

.show-content{
  transition: 1s;
  width: 345px;
  height: 400px;
  margin-top: 10px;
}
.show-content h1{
  font-size: 21px;
}
.show-content div{
  color: white;
  margin-left: 30px;
  margin-top: -200px;
  width: fit-content;
  cursor: default;
}
.detail{
  color: rgba(200, 200, 200, 0.861);
  font-size: 14px;
}
.review{
  color: blue;
}
.show-content div .buy-btn{
  background: green;
  margin-top: 50px;
  color: white;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  border: none;
}
.showcase img{
  display: block;
  margin: auto;
  width: 343px;
  height: 400px;
}

.showcase video{
  background: linear-gradient(90deg, rgb(43, 105, 105) , rgb(45, 45, 97));
  padding-bottom: 209px;
  border: 1px ;
  width: 345px;
}

/*showcase2 group*/

.showcase2{
  background-image: url(/media/games/banner2.webp);
  background-size: cover;
}
.showcase2 h1{
  color: white;
  text-align: center;
}

.showcase2 .trailer{
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.showcase2 .trailer div{
  display: flex;
  width: 382px;
  height: 223px;
  margin: auto;
}

.showcase2 .trailer div .showcase2-vid{
  width: 382px;
}
.showcase2 .trailer div .showcase2-img{
  width: 382px;
  height: 223px;
  position: absolute;
}
.showcase2-img.active{
  opacity: 0;
}